# dependencies
/node_modules

# production
/dist

/.vscode

Dockerfile

config.env

awsconfig.json

/.env.local

/.dockerignore

/.vscode/settings.json

/images/userImg
package-lock.json
package-lock.json
