# dependencies
/node_modules

# production
/dist

Dockerfile
/.dockerignore

config.env

awsconfig.json

# /.env.local
# /.env.production
# src/config/s3.json
# /config/s3.json

/images/userImg

/.vscode
